<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<string>.com</string>
		<key>Key</key>
		<string>URLSettings1</string>
		<key>Title</key>
		<string>URL Domain 1</string>
		<key>Titles</key>
		<array>
			<string>.com</string>
			<string>.co.uk</string>
			<string>.fr</string>
			<string>.de</string>
			<string>.ca</string>
			<string>.co.jp</string>
			<string>.jp</string>
			<string>.es</string>
			<string>.at</string>
			<string>.co.in</string>
			<string>.in</string>
			<string>.ru</string>
			<string>.com.ng</string>
			<string>.ng</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<string>.com</string>
			<string>.co.uk</string>
			<string>.fr</string>
			<string>.de</string>
			<string>.ca</string>
			<string>.co.jp</string>
			<string>.jp</string>
			<string>.es</string>
			<string>.at</string>
			<string>.co.in</string>
			<string>.in</string>
			<string>.ru</string>
			<string>.com.ng</string>
			<string>.ng</string>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>.co.uk</string>
		<key>Key</key>
		<string>URLSettings2</string>
		<key>Title</key>
		<string>URL Domain 2</string>
		<key>Titles</key>
		<array>
			<string>.com</string>
			<string>.co.uk</string>
			<string>.fr</string>
			<string>.de</string>
			<string>.ca</string>
			<string>.co.jp</string>
			<string>.jp</string>
			<string>.es</string>
			<string>.at</string>
			<string>.co.in</string>
			<string>.in</string>
			<string>.ru</string>
			<string>.com.ng</string>
			<string>.ng</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<string>.com</string>
			<string>.co.uk</string>
			<string>.fr</string>
			<string>.de</string>
			<string>.ca</string>
			<string>.co.jp</string>
			<string>.jp</string>
			<string>.es</string>
			<string>.at</string>
			<string>.co.in</string>
			<string>.in</string>
			<string>.ru</string>
			<string>.com.ng</string>
			<string>.ng</string>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>.com/uk</string>
		<key>Key</key>
		<string>SiteSpecific</string>
		<key>Title</key>
		<string>Site Specific (IE &quot;Apple.com/uk&quot;)</string>
		<key>Titles</key>
		<array>
			<string>United Kingdom</string>
			<string>France</string>
			<string>Germany</string>
			<string>Canada</string>
			<string>Canada (French)</string>
			<string>Japan</string>
			<string>Spain</string>
			<string>Austria</string>
			<string>India</string>
			<string>Nigeria</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<string>.com/uk</string>
			<string>.com/fr</string>
			<string>.com/de</string>
			<string>.com/ca</string>
			<string>.com/ca/fr</string>
			<string>.com/jp</string>
			<string>.com/es</string>
			<string>.com/at</string>
			<string>.com/in</string>
			<string>.com/ng</string>
		</array>
	</dict>
</array>
</plist>
